*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

:root{
  --primary-color:black;
  --secondary-color:white;
  --icon-color:red;
  --dark-icon-color:white;

  --light-bg: #FFDEE9;
  --dark-bg: var(--primary-color);
  --light-gradient: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  --dark-gradient: linear-gradient(90deg, #1a1a1a 0%, white 100%);
}
body{
  background-color: var(--light-bg);
  background-image: var(--light-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: black;
  transition: background-color 0.3s ease,color 0.3s ease;
}
.header, .albums, .player {
  background: transparent;
}
.dark-mode{
  background-color:var(--primary-color);
  background-image: var(--dark-gradient);
  color: var(--secondary-color)
}
.header{
  top:0px;
  z-index: 1000;
}
.dark-mode .header{
  background-color: var(--dark-bg);
}
.album>img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.album{
  transition: transform .2s;
}
.album:hover{
  transform: scale(1.1);
}
.albums{
  top:100px;
  z-index: 100;
  overflow-y: scroll;
  height: 65vh;
  scroll-behavior: smooth;
  margin: 2px 0px;
}
.dark-mode .albums{
  background-color: var(--dark-bg);
}
.albums::-webkit-scrollbar{
  width: 8px;
}
.albums::-webkit-scrollbar-track{
  background-color: transparent;
}
.albums::-webkit-scrollbar-thumb{
  background-color: var(--icon-color);
  border-radius: 8px;
}
.dark-mode .albums::-webkit-scrollbar-thumb{
  background-color: var(--dark-icon-color);
}
.player{
  bottom: 0px;
  z-index:1000;
}
.dark-mode .player{
  background-color: var(--dark-bg);
}
.audio-player{
  background-color: transparent;
}
.banner-music-image{
  width: 100%;
}
.banner-image>img{
  height: 500px;
}
@media (max-width:768px){
  .albums{
    height: 75vh;
    padding: 3px;
    top:100px;
  }
}